<footer class="text-sm text-white">
  <div class="flex bg-[#88beb2] border-t-18 border-[#96c5b9] py-6">
    <nav class="flex flex-col">
      <h2 class="font-bold">SiteMap</h2>
      <a href="">Order</a>
      <a href="">Distributor</a>
      <a href="">Contact</a>
    </nav>
    <nav class="flex flex-col">
      <h2 class="font-bold">Socials</h2>
      <a href="">instagram</a>
      <a href="">facebook</a>
      <a href="">tiktok</a>
    </nav>
  </div>
  <div class="bg-[#879061] border-t-18 border-[#a59f6a] py-6">
    <nav>
      <a href="">Privacybeleid</a>
      |
      <a href="">Cookiebeleid</a>
      |
      <a href="">Cookie-instellingen</a>
      |
      <a href="">Algemene voorwaarden</a>
      |
      <a href="">Handelsmerken</a>
    </nav>
    <p>© 2025 The Bait Beater all rights reser</p>
  </div>
</footer>
