<header>
  <div class="container mx-auto py-6 flex">
    <h1 class="text-6xl font-bold">The Bait Beater</h1>
    <div>
      <nav>
        <a href="/nl/distributor">Order</a>
        |
        <a href="/nl/distributor">Distributor</a>
        |
        <a href="/nl/contact">Contact</a>
        |
        <a href="/nl/contact">SiteMap</a>
      </nav>
      <nav>
        <a href="/nl/what-is-it">What Is It?</a>
        |
        <a href="/nl/how-does-it-work">How Does It Work?</a>
        |
        <a href="/nl/where-to-order">Where To Order?</a>
      </nav>
    </div>
  </div>
</header>
