<header>
  <div class="container mx-auto py-6 flex gap-12">
    <h1 class="text-6xl font-bold">The Bait Beater</h1>
    <div class="flex flex-col flex-grow justify-between">
      <nav class="text-sm flex gap-3 justify-end">
        <a href="/nl/distributor">Order</a>
        <a href="/nl/distributor">Distributor</a>
        <a href="/nl/contact">Contact</a>
        <div>
            <a href="nl/">NL</a>
            |
            <a href="en/" class="border-1 p-1">EN</a>
        </div>
      </nav>
      <nav class="text-xl font-bold flex gap-6">
        <a href="/nl/what-is-it">What Is It?</a>
        <a href="/nl/how-does-it-work">How Does It Work?</a>
        <a href="/nl/where-to-order">Where To Order?</a>
      </nav>
    </div>
  </div>
</header>
